#button {
  margin-bottom: 15px;
}
#tictactoe {
  width: 606px;
  height:606px;
  margin-right: auto;
  margin-left: auto;
}
#wrapper{
    width:85%;
    margin-right:auto;
    margin-left:auto;
}
#banner{
    width:100%;
    height:100%;
}
#button{
    width:100%;
    text-align: center;
}
#userlogin{
    max-width:300px;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
}
#password{
    margin:5px;
    display: block;
}
#username{
   margin:5px;
   display: block;
}
#pwd{
    float: right;
}
#user{
    float: right;
}
#resultDiv{
    visibility:hidden;
    text-align:center;
    margin-bottom:10px;
}
